h1{
    text-align: center;
}
.carousel-inner, .titre{
    background-color: black;
    color: white;

}
button{
    font-size: 25px;
    margin-top: 60px;
}
.titre, .navbar{
    margin: 0;
    padding: 0;
}
.titre{
    height:350px;

}
h1{
    font-size: 6.3em;
    margin-top:70px;
}